.background-grey{
    background-color: #F7F7F6;
    height: 100%;
    padding: 60px 18px;
}

.login-box, .auth-form-footer{
    max-width: 400px;
    margin: auto;
}

.login-box label{
    display: block;
    text-align: start;
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.login-form {
    width: 100%;
}

.login-form input, .demo-button-container input {
    display: block;
    border: 1px solid #DCDEDD;
    height: 42px;
    width: 100%;
    // width: calc(100% - 12px);
    margin: 18px 0;
    text-align: start;
    padding: 0 0 0 10px;
}

.auth-form-container{
    padding: 25px 30px 25px 30px;
    background: white;
    border: 0.1rem solid #E8E8E8;
    border-bottom: none;
    font-size: 16px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    height: 300px;
}

.login-form .submit-button, .demo-button-container .submit-button{
    color: white;
    background-color: #009E74;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    font-size: 16px;
    width: 100%;
}

.auth-form-footer{
    display: flex;
    background-color: white;
    height: 54px;
    border-top: 0.1rem solid #E8E8E8;
    align-items: center;
    justify-content: center;
}

.auth-form-footer-text{
    display: inline-block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
   
}

.errors-container {
    display: flex;
    justify-content: center;
}

.errors-container .auth-errors {
    color:red;
    font-size: 12px;
    align-items: center;
}

input:focus {
    border-color: #009E74;
}
