 @font-face {
    font-family: 'RNS-B';
    src:  asset_url('../base/fonts/RNS-B.ttf') format('woff2');
    font-style: normal;
    font-weight: 100;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
    align-items: center;
    border-bottom: 0.1rem solid #E8E8E8;
    padding: 12px 24px;

}

.top-nav section {
    width: 33%
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-container a{
    margin-right: 10px;
}

.nav-container-logo {
    font-family: RNS-B;
    margin-top: 0;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #009E74;
}

.nav-greeting-container {
    display: flex;
    justify-content: flex-end;
}

.greeting-links {
    padding: 0;
}

.greeting-links a{
    text-decoration: none;
    margin: 0 20px 0 20px;
}

.greeting-links a:hover, .nav-container a:hover, .right-nav button:hover{
    text-decoration: none;
    color: #009E74;
    cursor: pointer;
}

.search-container{
    margin: -24px -24px -24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


.search-bar{
    font-size: 18px;
    border: 0.1rem solid #DCDEDD;
    padding: 1px 2px 1px 42px;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    position: relative;
    min-width: 605px;
    box-sizing:border-box;
    z-index: 104;
    font-weight: 500;
    width: 100vw;
    height: 58px;
}

.search-section:hover{
    color: #009E74;
    cursor: pointer;
}

.profile-button{
    // position: relative;
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.profile-button:hover{
    cursor: pointer;
    // visibility: visible;
}

.avatar-img{
    height: 1.8rem;
    width: 1.8rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0.1rem solid #DCDEDD;
    border-color: #037362;
    border-width: 0.2rem;
    display: inline-block;
    border-radius: 100% !important;
    max-width: 100%;
}

.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
}

.search-close{
    align-self: center;
    color: #282828;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1000;
    position: absolute;
    left: calc(100vw - 43px);
}

.search-close:hover{
    color: #009E74;
    cursor: pointer; 
}

