
.show-container {
    display: flex;
    flex-direction: column;
    color: #282828
}

.big-show-text {
    margin: 0px -18px 36px;
    padding: 42px 0px 0px;
}
.big-text-container {
    margin-right: 106.828px;
    padding: 0px 18px;
}

.big-text-container h1, .big-text-container p {
    margin: 0px 0px 6px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big-text-container h1 {
    font-size: 24px;
    text-align: center;
}
.big-text-container p {
    font-size: 18px;
    text-align: center;
}

.show-bg-grey {
    background-color: #F7F7F6;
    box-sizing: border-box;
}

.show-main {
    display: flex;
    flex-direction: column;
    margin: 0px 37px 30px;
    padding: 0px 60px 60px;
    max-height: 694px;
    max-width: 1366px;

}

.misc-show {
    display: flex;
    flex-direction: row
}

.show-img-section {
    width: 818.66px;
    height: 460.48px;
    padding: 0px 18px;
}

.show-img-section img {
    max-width: 95%;
    max-height: 88%;
    object-fit: cover;
}

.show-info-section {
    width: 427.33px;
    height: 426px;
    padding: 0px 18px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progress-bar-container {
    margin-bottom: 18px;
    width: 100%;
    background-color: #E8E8E8;
}

.progress-bar {
    height: 0.6rem;
    background-color: #009E74;
}


.show-info-section ul {
    height: 50%;
    padding: 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-info-section ul li span:first-of-type {
    color: #037362;
    font-size: 28px;
}

.show-info-section ul li span:last-of-type {
    color: #656969;
    font-size: 14px;
}

.back-button, .destroy-button {
    font-size: 16px;
    margin: 0px 0px 18px;
    padding: 12px 24px;
   
    width: 100%;
    background: #028858;
    color: white;
    cursor: white;
    border: #028858;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destroy-button {
    background: crimson;
    border: crimson;
}

.back-button:hover, .destroy-button:hover {
    background: #015738;
    color: white;
    cursor: white;
    border: #015738;
}

.destroy-button:hover {
    background: maroon;
    color: white;
    cursor: white;
    border: maroon;
}



.show-nav {
    border-top: 1px solid #DCDEDD;
    border-bottom: 1px solid #DCDEDD;
    display: flex;
    flex-direction: row;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #282828;
}

.show-nav span{
    margin: 0px 18px;
    padding: 20px;
}

.show-nav span:hover {
    color:#009E74;
    cursor: pointer;
}

.nav-bold {
    font-weight: bold;
}

.show-body-container {
    display: flex;
    flex-direction: row;
    margin: 0px 37px;
    padding: 48px 18px 48px 60px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.show-article-left {
    display: flex;
    flex-direction: column;
    padding: 0px 18px 24px 0px;
}

.show-article-left span:first-of-type {
    padding: 0px 0px 18px;
    font-size: 13px;
    border-bottom: 0.1rem solid #DCDEDD;
}

.show-article-left span:last-of-type {
    padding: 18px 0px;
    font-size: 13px;
}

.show-article-left span {
    color:#009E74;
    cursor: pointer;
}

.current-article-highlight {
    color:#009E74;
    font-weight: bold;
}

.show-article-right {
    display: flex;
    flex-direction: column;
    color: #282828;
    padding: 0px 18px 20px 60px;
}

.show-article-right h3 {
    margin: 0px 0px 42px;
    font-size: 21px;
}


.show-section h3 {
    font-size: 21px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #282828;
    margin-bottom: 30x;
}

.show-section {
    padding: 0px 18px;
}

.support-container ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.support-container label{
    font-size: 18px;
    background: none;
    position: relative;
    z-index: 1;
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 0;
}

.checkout button {
    background: #028858;
    color: white;
    cursor: white;
    border: #028858;
    height: fit-content;
    width: 100%;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.25;
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    border-radius: 0;
}

.checkout button:hover {
    background: 015738;
    color: white;
    cursor: white;
    border: 015738; 
}

.checkout {
    padding: 0px 0px 20px;
    margin: 0px 20px;
}

.moneyBox input {
    -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
    border-color: #DCDEDD;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 0px;
   
    border: 1px solid #DCDEDD;
    cursor: default;
    position: relative;
    width: 100%;
    line-height: 20px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.messageBox {
    padding: 18px;
    margin-bottom: 10px;
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #222222;
     background-image: -webkit-linear-gradient(top, #DBE7FF, #FFF2EC);
    border-color: #DBE7FF;
    border: 0.1rem solid #DCDEDD;
}

.messageBox h3 {
    margin-bottom: 12px;
    font-size: 14px;
}

.creator-box, .support-container li{
    border-color: #E8E8E8;
    border: 0.1rem solid #DCDEDD;
    font-size: 14px;
    margin: 0px 0px 36px;
    padding: 20px 18px;
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.creator-main-info {
    margin: 0px 0px 36px;
}

.creator-name {
    font-size: 16px;
    font-weight: bold;
}

.creator-info {
    margin: 0px 0px 18px;
}

.creator-loc, .creator-biography {
    font-size: 14px;
}
